.hierarchical-taxonomy-tree .arrow-right {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAALVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADBoCg+AAAADnRSTlMAAQsWHyMnQk9hg7bU1uPWfIEAAABZSURBVHgBZY9NGoAgCERHI4gM73/csOlzw1ugPH8AEDETbJrHTMIb8z7mz+jfOXOadce5P58VPUVQ4FgmAMnlVlXQCCzjhYTGiihPyqe7rLJsbay0XoYr478zTgfmno75KQAAAABJRU5ErkJggg==);
  background-size: 100% auto;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.hierarchical-taxonomy-tree .arrow-down {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAALVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADBoCg+AAAADnRSTlMAAQsWHyMnQk9hg7bU1uPWfIEAAABlSURBVHjaZY9bEgARDAQH2Y143f+4K0Op2jI/dBMSrIiq4CRYHzPdwuJYx06NPCdv43fMdyXn4qtNwfoXePkOIOMIj0D/QqFE5nHBkpacU2MJOs3mzm9pyMNOY41cw9X6Pdw1/gc85Qfmz9nu9wAAAABJRU5ErkJggg==);
  background-size: 100% auto;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

/*Hide all submenus by default.*/
.block-taxonomymenu__submenu.collapsed-submenu {
  display: none;
  margin-left: 1%;
  list-style-type: none;
}

.block-taxonomymenu__link {
  padding: 20px 150px;
  height: 100px;
  background-color: #0a65aa;
}

a.block-taxonomymenu__link {
  color: white;
  text-decoration: none;
}

ul.hierarchical-taxonomy-tree {
  list-style-type: none;
}

.block-taxonomymenu__tree-item {
  margin-top: 4%;
}

ul.block-taxonomymenu__tree,
ul.block-taxonomymenu__tree ul,
ul.block-taxonomymenu__tree li,
ul.block-taxonomymenu__tree li > div {
  position: relative;
}

ul.block-taxonomymenu__tree,
ul.block-taxonomymenu__tree ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.block-taxonomymenu__tree {
  text-align: center;
}

ul.block-taxonomymenu__tree ul {
  padding-top: 1em;
}

ul.block-taxonomymenu__tree ul:before,
ul.block-taxonomymenu__tree ul:after,
ul.block-taxonomymenu__tree li:before,
ul.block-taxonomymenu__tree li:after,
ul.block-taxonomymenu__tree > li > div:before,
ul.block-taxonomymenu__tree > li > div:after {
  background-color: #b7a6aa;
  content: '';
  position: absolute;
}

ul.block-taxonomymenu__tree ul > li {
  padding: 1em 0 0 1em;
}

ul.block-taxonomymenu__tree > li ul:before {
  height: 1em;
  left: 50%;
  top: 0;
  width: 3px;
}

ul.block-taxonomymenu__tree > li ul:after {
  height: 3px;
  left: 3px;
  top: 1em;
  width: 50%;
}

ul.block-taxonomymenu__tree > li ul > li:not(:last-of-type):before {
  height: 3px;
  left: 0;
  top: 2em;
  width: 1em;
}

ul.block-taxonomymenu__tree > li ul > li:not(:last-of-type):after {
  height: 100%;
  left: 0;
  top: 0;
  width: 3px;
}

ul.block-taxonomymenu__tree > li ul > li:last-of-type:before {
  height: 3px;
  left: 0;
  top: 2em;
  width: 1em;
}

ul.block-taxonomymenu__tree > li ul > li:last-of-type:after {
  height: 2em;
  left: 0;
  top: 0;
  width: 3px;
}

ul.block-taxonomymenu__tree li > div {
  background-color: #fff;
  border-radius: 3px;
  min-height: 2em;
  padding: 0.5em;
}

/*** PRIMARY ***/
ul.block-taxonomymenu__tree > li > div {
  background-color: #a2ed56;
  margin-right: 1em;
}

ul.block-taxonomymenu__tree > li > div:before {
  bottom: 2em;
  height: 3px;
  right: -1em;
  width: 1em;
}

ul.block-taxonomymenu__tree > li > div:first-of-type:after {
  bottom: 0;
  height: 2em;
  right: -1em;
  width: 3px;
}

ul.block-taxonomymenu__tree > li > div + div {
  margin-top: 1em;
}

ul.block-taxonomymenu__tree > li > div + div:after {
  height: calc(100% + 1em);
  right: -1em;
  top: -1em;
  width: 3px;
}

/*** SECONDARY ***/
ul.block-taxonomymenu__tree > li > ul:before {
  left: inherit;
  right: 0;
}

ul.block-taxonomymenu__tree > li > ul:after {
  left: 0;
  width: 100%;
}

ul.block-taxonomymenu__tree > li > ul > li > div {
  background-color: #83e4e2;
}

/*** TERTIARY ***/
ul.block-taxonomymenu__tree > li > ul > li > ul > li > div {
  background-color: #fd6470;
}

/*** QUATERNARY ***/
ul.block-taxonomymenu__tree > li > ul > li > ul > li > ul > li > div {
  background-color: #fca858;
}

/*** QUINARY ***/
ul.block-taxonomymenu__tree > li > ul > li > ul > li > ul > li > ul > li > div {
  background-color: #fddc32;
}

/*** MEDIA QUERIES ***/
@media only screen and ( min-width: 64em ) {

  ul.block-taxonomymenu__tree {
    margin-left: -1em;
    margin-right: -1em;
  }

  /* PRIMARY */
  ul.block-taxonomymenu__tree > li > div {
    display: inline-block;
    float: none;
    margin: 0 1em 1em 1em;
    vertical-align: bottom;
  }

  ul.block-taxonomymenu__tree > li > div:only-of-type {
    margin-bottom: 0;
    width: calc((100% / 1) - 2em - 4px);
  }

  ul.block-taxonomymenu__tree > li > div:first-of-type:nth-last-of-type(2),
  ul.block-taxonomymenu__tree > li > div:first-of-type:nth-last-of-type(2) ~ div {
    width: calc((100% / 2) - 2em - 4px);
  }

  ul.block-taxonomymenu__tree > li > div:first-of-type:nth-last-of-type(3),
  ul.block-taxonomymenu__tree > li > div:first-of-type:nth-last-of-type(3) ~ div {
    width: calc((100% / 3) - 2em - 4px);
  }

  ul.block-taxonomymenu__tree > li > div:first-of-type:nth-last-of-type(4),
  ul.block-taxonomymenu__tree > li > div:first-of-type:nth-last-of-type(4) ~ div {
    width: calc((100% / 4) - 2em - 4px);
  }

  ul.block-taxonomymenu__tree > li > div:first-of-type:nth-last-of-type(5),
  ul.block-taxonomymenu__tree > li > div:first-of-type:nth-last-of-type(5) ~ div {
    width: calc((100% / 5) - 2em - 4px);
  }

  ul.block-taxonomymenu__tree > li > div:before,
  ul.block-taxonomymenu__tree > li > div:after {
    bottom: -1em!important;
    top: inherit!important;
  }

  ul.block-taxonomymenu__tree > li > div:before {
    height: 1em!important;
    left: 50%!important;
    width: 3px!important;
  }

  ul.block-taxonomymenu__tree > li > div:only-of-type:after {
    display: none;
  }

  ul.block-taxonomymenu__tree > li > div:first-of-type:not(:only-of-type):after,
  ul.block-taxonomymenu__tree > li > div:last-of-type:not(:only-of-type):after {
    bottom: -1em;
    height: 3px;
    width: calc(50% + 1em + 3px);
  }

  ul.block-taxonomymenu__tree > li > div:first-of-type:not(:only-of-type):after {
    left: calc(50% + 3px);
  }

  ul.block-taxonomymenu__tree > li > div:last-of-type:not(:only-of-type):after {
    left: calc(-1em - 3px);
  }

  ul.block-taxonomymenu__tree > li > div + div:not(:last-of-type):after {
    height: 3px;
    left: -2em;
    width: calc(100% + 4em);
  }

  /* SECONDARY */
  ul.block-taxonomymenu__tree > li > ul {
    display: flex;
    flex-wrap: nowrap;
  }

  ul.block-taxonomymenu__tree > li > ul:before,
  ul.block-taxonomymenu__tree > li > ul > li:before {
    height: 1em!important;
    left: 50%!important;
    top: 0!important;
    width: 3px!important;
  }

  ul.block-taxonomymenu__tree > li > ul:after {
    display: none;
  }

  ul.block-taxonomymenu__tree > li > ul > li {
    flex-grow: 1;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
  }

  ul.block-taxonomymenu__tree > li > ul > li:only-of-type {
    padding-top: 0;
  }

  ul.block-taxonomymenu__tree > li > ul > li:only-of-type:before,
  ul.block-taxonomymenu__tree > li > ul > li:only-of-type:after {
    display: none;
  }

  ul.block-taxonomymenu__tree > li > ul > li:first-of-type:not(:only-of-type):after,
  ul.block-taxonomymenu__tree > li > ul > li:last-of-type:not(:only-of-type):after {
    height: 3px;
    top: 0;
    width: 50%;
  }

  ul.block-taxonomymenu__tree > li > ul > li:first-of-type:not(:only-of-type):after {
    left: 50%;
  }

  ul.block-taxonomymenu__tree > li > ul > li:last-of-type:not(:only-of-type):after {
    left: 0;
  }

  ul.block-taxonomymenu__tree > li > ul > li + li:not(:last-of-type):after {
    height: 3px;
    left: 0;
    top: 0;
    width: 100%;
  }

}
