<li>
  <div class="node">
    <div class="employee-card">
      <div class="department-info">
        <h4 class="name">{{ content['#parent']['#title'] }}</h4>
      </div>
    </div>
  </div>

  <ul class="sub-list">
    <li>
      <div class="node">
        <div class="employee-card">
          <div class="department-info">
            <h4 class="name">Executive Management1</h4>
          </div>
        </div>
      </div>
      <ul class="sub-list">
        <li>
          <div class="node no-child">
            <div class="employee-card">
              <div class="department-info">
                <h4 class="name">Executive Management2</h4>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="node no-child">
            <div class="employee-card">
              <div class="department-info">
                <h4 class="name">Executive Management3</h4>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <div class="node">
        <div class="employee-card">
          <div class="department-info">
            <h4 class="name">Executive Management4</h4>
          </div>
        </div>
      </div>
      <ul>
        <li>
          <div class="node no-child">
            <div class="employee-card">
              <div class="department-info">
                <h4 class="name">Executive Management</h4>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="node">
            <div class="employee-card">
              <div class="department-info">
                <h4 class="name">Executive Management</h4>
              </div>
            </div>
          </div>
          <ul>
            <li>
              <div class="node no-child">
                <div class="employee-card">
                  <div class="department-info">
                    <h4 class="name">Executive Management</h4>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="node no-child">
                <div class="employee-card">
                  <div class="department-info">
                    <h4 class="name">Executive Management</h4>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <div class="node no-child">
            <div class="employee-card">
              <div class="department-info">
                <h4 class="name">Executive Management</h4>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</li>
