<div class="orgchart">
  <ul class="prime-list">
    <li>
      <div class="node">
        <div class="employee-card">
          <div class="department-info">
            <h4 class="name">Executive Management</h4>
          </div>
        </div>
      </div>

      <ul class="sub-list">
        <li>
          <div class="node">
            <div class="employee-card">
              <div class="department-info">
                <h4 class="name">Executive Management1</h4>
              </div>
              <div class="info-block">
                <h3 class="job-title">CEO</h3>
                <div class="personal-info">
                  <img class="profile-image" src="/static/media/user_image.7e779767.svg">
                  <div class="info-wrap">
                    <h5 class="name">Peter Aramniani</h5>
                    <h6 class="email">Sydney Head Office</h6>
                    <span class="reportee-count">
                      <img class="icon-user" src="/static/media/user-light.b81530de.svg">
                      <span class="count">73</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ul class="sub-list">
            <li>
              <div class="node no-child">
                <div class="employee-card">
                  <div class="department-info">
                    <h4 class="name">Executive Management2</h4>
                  </div>
                  <div class="info-block">
                    <h3 class="job-title">CEO</h3>
                    <div class="personal-info">
                      <img class="profile-image" src="/static/media/user_image.7e779767.svg">
                      <div class="info-wrap">
                        <h5 class="name">Peter Aramniani</h5>
                        <h6 class="email">Sydney Head Office</h6>
                        <span class="reportee-count">
                          <img class="icon-user" src="/static/media/user-light.b81530de.svg">
                          <span class="count">73</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="node no-child">
                <div class="employee-card">
                  <div class="department-info">
                    <h4 class="name">Executive Management3</h4>
                  </div>
                  <div class="info-block">
                    <h3 class="job-title">CEO</h3>
                    <div class="personal-info">
                      <img class="profile-image" src="/static/media/user_image.7e779767.svg">
                      <div class="info-wrap">
                        <h5 class="name">Peter Aramniani</h5>
                        <h6 class="email">Sydney Head Office</h6>
                        <span class="reportee-count">
                          <img class="icon-user" src="/static/media/user-light.b81530de.svg">
                          <span class="count">73</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <div class="node">
            <div class="employee-card">
              <div class="department-info">
                <h4 class="name">Executive Management4</h4>
              </div>
              <div class="info-block">
                <h3 class="job-title">CEO</h3>
                <div class="personal-info">
                  <img class="profile-image" src="/static/media/user_image.7e779767.svg">
                  <div class="info-wrap">
                    <h5 class="name">Peter Aramniani</h5>
                    <h6 class="email">Sydney Head Office</h6>
                    <span class="reportee-count">
                      <img class="icon-user" src="/static/media/user-light.b81530de.svg">
                      <span class="count">73</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ul>
            <li>
              <div class="node no-child">
                <div class="employee-card">
                  <div class="department-info">
                    <h4 class="name">Executive Management</h4>
                  </div>
                  <div class="info-block">
                    <h3 class="job-title">CEO</h3>
                    <div class="personal-info">
                      <img class="profile-image" src="/static/media/user_image.7e779767.svg">
                      <div class="info-wrap">
                        <h5 class="name">Peter Aramniani</h5>
                        <h6 class="email">Sydney Head Office</h6>
                        <span class="reportee-count">
                          <img class="icon-user" src="/static/media/user-light.b81530de.svg">
                          <span class="count">73</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="node">
                <div class="employee-card">
                  <div class="department-info">
                    <h4 class="name">Executive Management</h4>
                  </div>
                  <div class="info-block">
                    <h3 class="job-title">CEO</h3>
                    <div class="personal-info">
                      <img class="profile-image" src="/static/media/user_image.7e779767.svg">
                      <div class="info-wrap">
                        <h5 class="name">Peter Aramniani</h5>
                        <h6 class="email">Sydney Head Office</h6>
                        <span class="reportee-count">
                          <img class="icon-user" src="/static/media/user-light.b81530de.svg">
                          <span class="count">73</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ul>
                <li>
                  <div class="node no-child">
                    <div class="employee-card">
                      <div class="department-info">
                        <h4 class="name">Executive Management</h4>
                      </div>
                      <div class="info-block">
                        <h3 class="job-title">CEO</h3>
                        <div class="personal-info">
                          <img class="profile-image" src="/static/media/user_image.7e779767.svg">
                          <div class="info-wrap">
                            <h5 class="name">Peter Aramniani</h5>
                            <h6 class="email">Sydney Head Office</h6>
                            <span class="reportee-count">
                              <img class="icon-user" src="/static/media/user-light.b81530de.svg">
                              <span class="count">73</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="node no-child">
                    <div class="employee-card">
                      <div class="department-info">
                        <h4 class="name">Executive Management</h4>
                      </div>
                      <div class="info-block">
                        <h3 class="job-title">CEO</h3>
                        <div class="personal-info">
                          <img class="profile-image" src="/static/media/user_image.7e779767.svg">
                          <div class="info-wrap">
                            <h5 class="name">Peter Aramniani</h5>
                            <h6 class="email">Sydney Head Office</h6>
                            <span class="reportee-count">
                              <img class="icon-user" src="/static/media/user-light.b81530de.svg">
                              <span class="count">73</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div class="node no-child">
                <div class="employee-card">
                  <div class="department-info">
                    <h4 class="name">Executive Management</h4>
                  </div>
                  <div class="info-block">
                    <h3 class="job-title">CEO</h3>
                    <div class="personal-info">
                      <img class="profile-image" src="/static/media/user_image.7e779767.svg">
                      <div class="info-wrap">
                        <h5 class="name">Peter Aramniani</h5>
                        <h6 class="email">Sydney Head Office</h6>
                        <span class="reportee-count">
                          <img class="icon-user" src="/static/media/user-light.b81530de.svg">
                          <span class="count">73</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
